
.MuiInput-root {
    margin: 0 25px 0;
}

.MuiTreeItem-label {
    text-align: left;
    height: 25px;
}

#selection {
    width: 100%;
}

#trees {
    display: flex;
    flex-direction: row;
    margin: 24px;
}

.button-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px 25% 10px;
}

.tree-node-label {
    display: inline-flex;
}

.tree-view {
    display: block;
    height: 100%;
    margin: 10px 0 10px;
}