
#schema-page-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#schema-filter {
    min-width: 30%;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
}

#tree-area {
    min-width: calc(70% - 300px);
}

.MuiPaper-root {
    margin-top: 15px;
    padding-top: 15px;
}